html{
    background-color: black;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}
h1{
    font-family: "Libre Baskerville" , serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
img{
    width: 100%;
}
p{
    color:white;
    text-align: center;
}